In [69]:
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy import create_engine
import panel as pn

### Conexao psycopg2

In [70]:
connection = pg.connect(host="localhost", dbname="postgres", user="postgres", password='123')

In [71]:
cursor = connection.cursor()

### Conexao sqlalchemy

In [76]:
con2 = 'postgresql://postgres:123@localhost:5432/postgres'
sqlalchemy.create_engine(con2)

Engine(postgresql://postgres:***@localhost:5432/postgres)

### Config Panel

In [ ]:
pn.extension()
pn.extension('tabulator')
pn.extension(notifications=True)

### Inserir paciente

In [72]:
flag=''

nome = pn.widgets.TextInput(
    name = "nome",
    value='',
    placeholder='Insira o nome',
    disabled=False
)

data = pn.widgets.TextInput(
    name = "data",
    value='',
    placeholder='Insira a data (no formato YYYY-MM-DD)',
    disabled=False
)

altura = pn.widgets.TextInput(
    name = "altura",
    value='',
    placeholder='Insira a altura',
    disabled=False
)

peso = pn.widgets.TextInput(
    name = "peso",
    value='',
    placeholder='Insira o peso',
    disabled=False
)

sexo = pn.widgets.RadioBoxGroup(
    name='sexo', options=['masculino', 'feminino']
)


cursor.execute('INSERT INTO paciente(nome, data_nascimento, altura, peso, sexo) VALUES (%s, %s, %s, %s, %s)', (nome, data, altura, peso, sexo))
connection.commit()

### Mostrar pacientes cadastrados

In [80]:
query = "SELECT * FROM paciente"
df = pd.read_sql_query(query, con2)
df

   id_paciente  nome data_nascimento  altura  peso       sexo
0            5  Levi      2004-12-22   175.0  75.0  masculino

In [75]:
cursor.close()
connection.close()